@page
@model IndexModel

@{
    ViewData["Title"] = "News";

    <!-- Font Awesome -->
        <link
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
          rel="stylesheet"
        />
        <!-- Google Fonts -->
        <link
          href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
          rel="stylesheet"
        />
        <!-- MDB -->
        <link
          href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.1.0/mdb.min.css"
          rel="stylesheet"
        />
<body>
        
     <div class="container-fluid">
        <div class="row">
            <button id="sidebarToggle" class="btn btn-link">
                <span class="navbar-toggler-icon"></span>
            </button>
            <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-dark sidebar position-fixed" style="max-height:500px">
                <div class="position-fixed">
                    <ul class="nav  flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">
                                Link1
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="#">
                                 Link2
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="carousel">
  <div class="progress-bar progress-bar--primary hide-on-desktop">
    <div class="progress-bar__fill"></div>
  </div>

<header class="main-post-wrapper">
  
  <div class="slides">
    <article class="main-post main-post--active">
      <div class="main-post__image">
        <img src="https://www.formula1.com/content/dam/fom-website/manual/Misc/2019-Races/Monaco2019/McLarenMonaco19.jpg.transform/9col/image.jpg" alt="New McLaren wind tunnel 'critical' to future performance, says Tech Director Key" />
      </div>
      <div class="main-post__content">
        <div class="main-post__tag-wrapper">
          <span class="main-post__tag">News</span>
        </div>
        <h1 class="main-post__title">New McLaren wind tunnel 'critical' to future performance, says Tech Director Key</h1>
        <a class="main-post__link" href="#">
              <span class="main-post__link-text">find out more</span>
              <svg
                class="main-post__link-icon main-post__link-icon--arrow"
                width="37"
                height="12"
                viewBox="0 0 37 12"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M0 6H36.0001M36.0001 6L31.0001 1M36.0001 6L31.0001 11"
                  stroke="white"
                />
              </svg>
            </a>
      </div>
    </article>
    <article class="main-post main-post--not-active">
      <div class="main-post__image">
        <img src="https://www.formula1.com/content/dam/fom-website/sutton/2019/Hungary/Saturday/1017645792-LAT-20190803-_2ST5188.jpg.transform/9col-retina/image.jpg" alt="What To Watch For in the 2019 Hungarian Grand Prix" />
      </div>
      <div class="main-post__content">
        <div class="main-post__tag-wrapper">
          <span class="main-post__tag">Video</span>
        </div>
        <h1 class="main-post__title">What To Watch For in the 2019 Hungarian Grand Prix</h1>
        <a class="main-post__link" href="#">
              <svg
                class="main-post__link-icon main-post__link-icon--play-btn"
                width="30"
                height="30"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <circle
                  cx="10"
                  cy="10"
                  r="9"
                  stroke="#C20000"
                  stroke-width="2"
                />
                <path d="M14 10L8 6V14L14 10Z" fill="white" />
              </svg>
              <span class="main-post__link-text">play video</span>
            </a>
      </div>
    </article>
    <article class="main-post main-post--not-active">
      <div class="main-post__image">
        <img src="https://www.formula1.com/content/dam/fom-website/manual/Misc/2019-Races/Austria-2019/Top3Austria2019.jpg.transform/9col-retina/image.jpg" alt="Hamilton wants harder championship fight from Leclerc and
            Verstappen" />
      </div>
      <div class="main-post__content">
        <div class="main-post__tag-wrapper">
          <span class="main-post__tag">News</span>
        </div>
        <h1 class="main-post__title">Hamilton wants harder championship fight from Leclerc and Verstappen
        </h1>
        <a class="main-post__link" href="#">
              <span class="main-post__link-text">find out more</span>
              <svg
                class="main-post__link-icon main-post__link-icon--arrow"
                width="37"
                height="12"
                viewBox="0 0 37 12"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M0 6H36.0001M36.0001 6L31.0001 1M36.0001 6L31.0001 11"
                  stroke="white"
                />
              </svg>
            </a>
      </div>
    </article>
  </div>
</header>

<div class="posts-wrapper hide-on-mobile">
  <article class="post post--active">
    <div class="progress-bar">
      <div class="progress-bar__fill"></div>
    </div>
    <header class="post__header">
      <span class="post__tag">News</span>
      <p class="post__published">16 August 2019</p>
    </header>
    <h2 class="post__title">New McLaren wind tunnel 'critical' to future performance, says Tech Director Key</h2>
  </article>
  <article class="post">
    <div class="progress-bar">
      <div class="progress-bar__fill"></div>
    </div>
    <header class="post__header">
      <span class="post__tag">Video</span>
      <p class="post__published">12 August 2019</p>
    </header>
    <h2 class="post__title">What To Watch For in the 2019 Hungarian Grand Prix</h2>
  </article>
  <article class="post">
    <div class="progress-bar">
      <div class="progress-bar__fill"></div>
    </div>
    <header class="post__header">
      <span class="post__tag">News</span>
      <p class="post__published">08 August 2019</p>
    </header>
    <h2 class="post__title">Hamilton wants harder championship fight from Leclerc and Verstappen
    </h2>
  </article>
</div>
</div>
<main style="min-height: 100vh; background: red;"></main>

            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <div id="carouselExampleCaptions" class="carousel slide" data-mdb-ride="carousel" data-mdb-carousel-init>
                      <div class="carousel-indicators">
                        <button
                          type="button"
                          data-mdb-target="#carouselExampleCaptions"
                          data-mdb-slide-to="0"
                          class="active"
                          aria-current="true"
                          aria-label="Slide 1"
                        ></button>
                        <button
                          type="button"
                          data-mdb-target="#carouselExampleCaptions"
                          data-mdb-slide-to="1"
                          aria-label="Slide 2"
                        ></button>
                        <button
                          type="button"
                          data-mdb-target="#carouselExampleCaptions"
                          data-mdb-slide-to="2"
                          aria-label="Slide 3"
                        ></button>
                        <button
                          type="button"
                          data-mdb-target="#carouselExampleCaptions"
                          data-mdb-slide-to="3"
                          aria-label="Slide 4"
                        ></button>
                      </div>
                      <div class="carousel-inner">
                       
                       @for(int i=0; i<4; i++)
                            {
                                <div class="carousel-item active">
                                      <img src= @Model.news.Articles[i].UrlToImage class="d-block w-100" style="max-height: 600px;" alt="Wild Landscape"/>
                                      <div class="carousel-caption d-none d-md-block">
                                        <h5>@Model.news.Articles[i].Title</h5>
                                        <p> @Model.news.Articles[i].Description</p>
                                      </div>
                                </div>
                            }
                    
                
                      </div>
                      <button class="carousel-control-prev" type="button" data-mdb-target="#carouselExampleCaptions" data-mdb-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                      </button>
                      <button class="carousel-control-next" type="button" data-mdb-target="#carouselExampleCaptions" data-mdb-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                      </button>
                </div>

                <div class="row row-cols-1 row-cols-md-3 g-4">
                   @foreach(var article in Model.news.Articles){
                     <div class="col">
                        <div class="card">
                          <img src= @article.UrlToImage class="card-img-top"/>
                          <div class="card-body">
                            <h5 class="card-title">@article.Title</h5>
                            <p class="card-text">
                              @article.Description
                            </p>
                          </div>
                        </div>
                     </div>
                    }
                </div>
            </main>
             
        
        </div>
    </div>
    <script type="text/javascript" src="./js/carousel.js"></script>
    <script type = "text/javascript" src="./js/sidenav.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.1.0/mdb.umd.min.js"></script>

</body>
}




